<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  <display-name>Hello Web Application</display-name>

  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
